body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 a {
    text-decoration: none;
    color: white;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0px;
}

.account-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon img {
    width: 50px;
    /* Adjust the size of the logo */
    height: 50px;
    /* Adjust the size of the logo */
    border-radius: 50%;
    /* Make the logo round */
}

.checkmark {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff4646;
    clip-path: polygon(0% 50%, 40% 100%, 100% 0%);
    display: none;
}

.icon.selected .checkmark {
    display: block;
}

.agent-logo {
    height: 30rem;
    width: 40rem;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ff4646;
    outline: none;
    background-color: transparent;
    color: white;
}

.input-container input:focus {
    border-bottom: 2px solid #ff4646;
}

.input-container label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #ff4646;
    transition: 0.3s;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
    top: -10px;
    font-size: 12px;
}

.show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password.active {
    color: #ff4646;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.forgot-password {
    color: #ff4646;
}

.login-button {
    background-color: #ff4646;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin-right: 20px;
    /* Set the margin equal to the space between agent and player logos */
    cursor: pointer;
}

.social-icon img {
    width: 40px;
    /* Adjust the size of the social media logos */
    height: 40px;
    /* Adjust the size of the social media logos */
    border-radius: 50%;
    /* Make the logos round */
}

.social-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
}